#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn {
    position: fixed;
    top: 50px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    opacity: 0.95;
    overflow: auto;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item__list {
    padding: 5px 0px 5px 5px;
    /*font-size: 2.5vmin;*/
}

.menu__item:hover {
    background-color: #CFD8DC;
}
  
  

/* ------------ DROPDOWN ------- */

.collapsible {
    /*background-color: #777;*/
    color: black;
    font-weight: 600;
    cursor: pointer;
    padding: 12px 24px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: monospace;
}
  
.content {
    padding: 0 0 20% 5%;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.current-page {
    background-color: #e0e0e0;
}

/* ------------------ GENERAL ------------------ */

body {
    font-family: monospace !important;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #fbfbfb;    
    padding: 10px;  
    margin-top: auto;
    text-align: center;
    bottom: 0;
}

.mt-50 {
    margin-top: 50px;
}

/* ------------------ COMPONENTS ------------------ */

.container {
    margin: 5vh 0;
    text-align: center;
}

.text-container {
    text-align: left;
    width: 80vw;
    margin: 0 0 0 0;
}


.text-link {
    color:black;
}

.container-github {
    margin-top: 2vmin;
    text-align: center;
}

.container-img {
    text-align: center;
    margin: 5% 0 0 0;
}

.image-title {
    width: 80vmin;
}

.meme-banner {
    width: 80vmin;
    height: auto;
}

.credits {
    width: 30vmin;
    height: auto;
}

.references {
    width: 40vmin;
    height: auto;
}

.arrow {
    width: 50px;
    margin: 5% 2.5% 5% 2.5%;
}

.arrow-disabled {
    opacity: 0.1;
}

.a-arrow {
    text-decoration: none;
}
/* ------------------ MEDIA QUERIES ------------------ */

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  { 
    
    .menu__box {
        width: 100%;
        height: 100%;
    }

    .menu__item {
        font-size: 40px;
    }
    
    .collapsible {
        font-size: 40px;
    }

    .menu__item__list {
        font-size: 30px;
    }
    
    .text-container {
        font-size: 40px;
        width: 80vw;
    }

    /* make people scroll! */
    .img-content {
        width: auto;
        height: auto;
    }

}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  { 
     
    
    .menu__box {
        width: 100%;
    }

    .menu__item {
        font-size: 30px;
    }
    
    .menu__item__list {
        font-size: 25px;
    }
    
    .text-container {
        font-size: 30px;
        width: 80vw;
    }

    .img-content {
        width: 95vw;
        height: auto;
    }

}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:961px)  { 
    
    .menu__box {
        width: 100%;
    }


    .menu__item {
        font-size: 20px;
    }
    
    .menu__item__list {
        font-size: 15px;
    }
    
    .text-container {
        font-size: 20px;
        width: 70vw;
    }

    .img-content {
        width: 90vw;
        height: auto;
    }

}

/* big landscape tablets, laptops, and desktops */ 
@media (min-width:1025px) { 
    
    .menu__box {
        width: 500px;
    }

    .text-container {
        font-size: 20px;
        width: 60vw;
    }

    .img-content {
        width: 80vw;
        height: auto;
    }

}

/* hi-res laptops and desktops */ 
@media (min-width:1281px) { 

    .img-content {
        width: 70vw;
        height: auto;
    }
    
}








