

#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn {
    position: fixed;
    top: 50px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    opacity: 0.8;
    overflow: auto;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    /*font-family: 'Roboto', sans-serif; */
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.h2 {
    padding: 12px 5px;
    font-size: 18px !important;
    font-weight: 500 !important;
}

.h3 {
    padding: 12px 5px;
    font-size: 18px !important;
    font-weight: 500 !important;
}

.h4 {
    padding: 12px 5px;
    font-size: 18px !important;
    font-weight: 500 !important;
}

.menu__item:hover {
    background-color: #CFD8DC;
}
  
  

/* ------------ DROPDOWN ------- */

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px 24px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 0 0;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  
/* ------------------ TEXT ------------------ */


.text-container {
    text-align: center;
}


.text-link {
    color:black;
}

/* ------------------ IMAGE ------------------ */

.img-overview {

    width: 50vw;
    height: auto;
    filter: blur(0.5px);
}

.container-img {
    text-align: center;
}