.content-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 20%;
    text-align: left;
}

.banner {
    height: 20vh;
}

.container-github {
    margin-top: 2vmin;
    text-align: center;
}

.container-img {
    text-align: center;
    margin: 5% 0 0 0;
}

.meme-banner {
    width: 80vmin;
    height: auto;
    margin-bottom: 5%;
}